@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1749347300266') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 33px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wendang:before {
  content: "\e656";
}

.icon-open-API:before {
  content: "\e614";
}

.icon-GRPC:before {
  content: "\e618";
}

.icon-Code:before {
  content: "\e61a";
}

.icon-HTTP:before {
  content: "\e529";
}

