@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1749349617659') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuzhiqunzu:before {
  content: "\ebd8";
}

.icon-ziyuanxhdpi:before {
  content: "\e63a";
}

.icon-open-API:before {
  content: "\e614";
}

.icon-GRPC:before {
  content: "\e618";
}

.icon-wangluo:before {
  content: "\e998";
}

.icon-code:before {
  content: "\ebdc";
}

.icon-OpenAPI:before {
  content: "\e60a";
}

.icon-wendang:before {
  content: "\e68d";
}

.icon-uikit:before {
  content: "\ec29";
}

.icon-xiewendang:before {
  content: "\e63e";
}

.icon-Websocket:before {
  content: "\e515";
}

.icon-api:before {
  content: "\e619";
}

